/*
 * This file is part of react-svg-buttons.
 *
 * (c) Raphaël Benitte
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.switch {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switch + label {
  margin-left: 10px;
  vertical-align: super;
  cursor: pointer;
}
.switch input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch label {
  outline: none;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  border-radius: 18px;
  cursor: pointer;
  background: #1c1e27;
}
.switch label:after {
  transition: transform 200ms;
  content: ' ';
  display: inline-block;
  position: absolute;
  transform: translate3d(2px, 2px, 0);
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #444452;
}
.switch input:checked + label:after {
  background: #67677c;
  transform: translate3d(20px, 2px, 0);
}
.select-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  float: left;
  width: 50%;
  cursor: pointer;
  background: #1c1e27;
  color: #dd6e78;
  box-shadow: 0 1px 2px #000;
  border-radius: 2px;
}
.select-box .fa {
  position: absolute;
  right: 10px;
  font-size: 16px;
  top: 50%;
  margin-top: -8px;
}
.select-box select {
  color: inherit;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  z-index: 1;
  display: block;
  width: 150%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  padding: 7px 26px 7px 12px;
  height: auto;
  margin: 0;
}
.select-box select:focus {
  outline: none;
}
.strata {
  width: 100%;
}
.strata_content {
  margin: 0 auto;
  position: relative;
}
@media (min-width: 1600px) {
  .strata_content {
    width: 1400px;
  }
}
@media (max-width: 1600px) and (min-width: 1200px) {
  .strata_content {
    width: 1170px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .strata_content {
    width: 724px;
  }
}
@media (max-width: 979px) {
  .strata_content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .strata_content {
    width: auto;
  }
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #2d2d36;
  color: #c2c2c2;
}
h1,
h2,
h3 {
  font-weight: 100;
}
a {
  color: inherit;
  text-decoration: none;
}
.header,
.footer {
  background: #1c1e27;
  color: #dd6e78;
}
.header {
  padding: 30px 20px;
}
.header_icons {
  text-align: center;
  margin-top: 20px;
}
.header_icons > * {
  cursor: pointer;
  margin-left: 20px;
}
.header_icons > *:first-child {
  margin-left: 0;
}
.header h1 {
  font-size: 28px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.header a {
  float: right;
  line-height: 32px;
}
.header a:after {
  content: " ";
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-left: 10px;
  background-image: url("../github-icon.png");
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.footer {
  font-size: 14px;
  padding: 15px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}
.sub_header {
  background: #a94948;
  color: #1c1e27;
  padding: 15px 0;
  box-shadow: 0 0 2px rgba(0,0,0,0.75);
  margin-bottom: 30px;
}
.sub_header_install {
  float: left;
  font-family: consolas, menlo, monaco, monospace;
}
.sub_header_github {
  float: right;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.settings,
.preview,
.code {
  float: left;
  width: 32%;
  margin-left: 2%;
}
.settings {
  margin-left: 0;
}
.preview {
  text-align: center;
}
.form_row {
  margin-bottom: 15px;
}
label {
  width: 50%;
  float: left;
}
.section_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #000;
  color: #dd6e78;
  text-align: left;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
input[type="text"],
input[type="number"] {
  font-family: 'Open Sans', sans-serif;
  padding: 7px 12px;
  font-size: 16px;
  width: 50%;
  float: left;
  border: none;
  background: #1c1e27;
  color: #dd6e78;
  border-radius: 2px;
}
pre {
  margin: 0;
  text-align: left;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 24px;
  font-family: consolas, menlo, monaco, monospace;
  white-space: pre;
  background: #1a0a14;
  color: #dd6e78;
}
