/*
 * This file is part of react-svg-buttons.
 *
 * (c) Raphaël Benitte
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.strata
  width 100%
  &_content
    margin 0 auto
    position relative

@media (min-width: 1600px)
  .strata_content
    width 1400px

@media (max-width: 1600px) and (min-width: 1200px)
  .strata_content
    width 1170px

@media (max-width: 979px) and (min-width: 768px)
  .strata_content
    width 724px

@media (max-width: 979px)
  .strata_content
    padding-left  20px
    padding-right 20px

@media (max-width: 767px)
  .strata_content
    width auto
