* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 80px 0;
}
h1, h2, h3 {
    font-weight: 800;
}
#examples {
    margin: 20px;
}
.header,
.footer {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
}
.header {
    top: 0;
}
.header h1 {
    margin: 0;
    padding: 0;
}
.footer {
    bottom: 0;
    text-align: right;
}