/*
 * This file is part of react-svg-buttons.
 *
 * (c) Raphaël Benitte
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.playground {
    display: flex;
    flex-wrap: wrap;
}
.playground_preview {
    text-align: center;
}

@media screen and (min-width: var(--huge-min-width)) {
    .playground_settings,
    .playground_preview,
    .playground_code {
        width: 32%;
        margin-left: 2%;
    }
    .playground_settings {
        margin-left: 0;
    }
}

@media screen and (min-width: var(--large-min-width)) and (max-width: var(--large-max-width)) {
    .playground_settings,
    .playground_preview,
    .playground_code {
        width: 32%;
        margin-left: 2%;
    }
    .playground_settings {
        margin-left: 0;
    }
}

@media screen and (min-width: var(--medium-min-width)) and (max-width: var(--medium-max-width)) {
    .playground_settings,
    .playground_code {
        width: 48%;
        margin-left: 4%;
    }
    .playground_settings {
        margin-left: 0;
        order: 1;
    }
    .playground_code {
        order: 2;
    }
    .playground_preview {
        order: 3;
        width: 100%;
    }
}

@media screen and (min-width: var(--small-min-width)) and (max-width: var(--small-max-width)) {
    .playground_settings,
    .playground_preview,
    .playground_code {
        width: 100%;
        margin-left: 0;
    }
}


@media screen and (max-width: var(--xsmall-max-width)) {
    .playground_settings,
    .playground_preview,
    .playground_code {
        width: 100%;
        margin-left: 0;
    }
}