/*
 * This file is part of react-svg-buttons.
 *
 * (c) Raphaël Benitte
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.strata {
    width: 100%;
}

.strata_content {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

@media screen and (min-width: var(--huge-min-width)) {
    .strata_content {
        width: 80%;
    }
}
@media screen and (min-width: var(--large-min-width)) and (max-width: var(--large-max-width)) {
    .strata_content {
        width: 80%;
    }
}

@media screen and (min-width: var(--medium-min-width)) and (max-width: var(--medium-max-width)) {
    .strata_content {
        width: 90%;
    }
}

@media screen and (min-width: var(--small-min-width)) and (max-width: var(--small-max-width)) {
    .strata_content {
        padding-left:  30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: var(--xsmall-max-width)) {
    .strata_content {
        padding-left:  15px;
        padding-right: 15px;
    }
}