:root {
    --main-bg-color: #2d2d36;
    --main-txt-color: #c2c2c2;
    --alt-bg-color: #1c1e27;
    --alt-txt-color: #dd6e78;
    --sub-header-bg-color: #a94948;
    --sub-header-txt-color: #1c1e27;

    --main-font-family: 'Open Sans', sans-serif;
    --title-font-family: 'Montserrat', sans-serif;
    --code-font-family: consolas, menlo, monaco, monospace;
}