/*
 * This file is part of react-svg-buttons.
 *
 * (c) Raphaël Benitte
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 80px 20px;
}
h1, h2, h3 {
    font-weight: 100;
}
a {
    color: inherit;
    text-decoration: none;
}
#examples {
}
.header,
.footer {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
}
.header {
    top: 0;
}
.header h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.header a {
    float: right;
    line-height: 32px;
}
.header a:after {
    content: " ";
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-left: 10px;
    background-image: url('github-icon.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
}
.footer {
    bottom: 0;
    text-align: right;
}
.section:before, .section:after {
    content: '';
    display: table;
}
.section:after {
    clear: both;
}
.unit {
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 20px;
}
.unit:first-child {
    margin-left: 0;
}
.preview {
    height: 80px;
    line-height: 80px;
}
svg {
    cursor: pointer;
    vertical-align: middle;
}
pre {
    margin: 0;
    text-align: left;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 18px;
    font-family: consolas, menlo, monaco, monospace;
    white-space: pre;
    background: #000;
    color: #fff;
}