/*
 * This file is part of react-svg-buttons.
 *
 * (c) Raphaël Benitte
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.header {
    background: var(--alt-bg-color);
    color:      var(--alt-txt-color);
}

.header {
    padding: 30px 20px;
}

.header_icons {
    text-align: center;
    margin-top: 20px;
}

.header_icons > * {
    cursor: pointer;
    margin-left: 20px;
}

.header_icons > *:first-child {
    margin-left: 0;
}

.header h1 {
    font-size: 28px;
    font-weight: 400;
    font-family: var(--title-font-family);
    text-align: center;
    margin:  0;
    padding: 0;
    text-transform: uppercase;
}

.header a {
    float: right;
    line-height: 32px;
}

.header a:after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-left: 10px;
    /*background-image: url('../github-icon.png');*/
    background-size: 32px 32px;
    background-repeat: no-repeat;
}